@import "src/common/styles/variables";

.header {
  height: 80px;
  background-color:$bgdColor2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  /*  @media screen and (max-width: 882px) {
     width: auto;
    }*/
}