@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.header {
  height: 80px;
  background-color:$bgdColor2;
  @include flex(row,center,center,nowrap);
  position: fixed;
  width: 100vw;
  z-index: 3;

}