@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.contactsBlock {
  background-color: $bgdColor2;

  .section {
    height: $heightSection;
    background: linear-gradient(to bottom left, $bgdColor4, $bgdColor4 50%, transparent 50%, transparent);
  }

  .contactsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .title {
      margin: 0 0 30px;
      @include text($fontFamily2, 44px, $textColor1);
      letter-spacing: 10px;
      font-weight: 500;
      text-transform: uppercase;
      position: relative;
    }

    .separator {
      position: relative;
      width: 12px;
      height: 12px;
      margin: 0px auto;
      border-radius: 50%;
      background: $bgdColor4;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 70px;
        height: 2px;
        margin: 4px 0 0 -35px;
        border: 1px solid $bgdColor4;
        border-left: none;
        border-right: none;
      }
    }

    .infoBlock {
      box-sizing: border-box;
      margin: 5px;
      width: 250px;
      @include flex(row,center,center,nowrap);
      text-align: center;

      .infoBlockItem {
        width: 31.3333333333%;
        border-left-width: 0;
        padding: 0 0;
        margin-left: 3%;

        .infoItem {
          position: relative;
          display: inline-block;
          width: 70px;
          height: 70px;
          margin: 30px 30px;
          border-radius: 50%;
          box-sizing: border-box;
          font-size: 1.4285714286em;
          line-height: 70px;
          text-align: center;
          color: $textColor2;

          &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 65px;
            height: 65px;
            box-sizing: border-box;
            border: 6px double;
            transition: 0.3s;
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }

        .img {
          position: relative;
          display: inline;
          border-radius: 50%;
          box-sizing: border-box;
          font-size: 1.4285714286em;
          line-height: 70px;
          text-align: center;
          color: $textColor1;
        }

        .infoItem a {
          text-decoration: none;
          font-size: 14px;
          color: $textColor1;
        }
      }
    }
  }

  .contactsForm {
    width: 880px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    @media screen and (max-width: 870px) {
      width: 400px;
      box-sizing:content-box;
    }
    @media screen and (max-width:485px) {
      width: 320px;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 870px) {
      display: block;
      margin: auto;
    }
    @media screen and (max-width:485px) {
      width: 320px;
    }
  }

  .inputField input {
    margin: 0 10px;
    padding: 20px;
    width: 400px;
    border-bottom-color: $bgdColor4;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: double;
    border-bottom-width: thick;
    background-color: $bgdColor2;
    @include text($fontFamily1, 18px, $textColor1);
    box-sizing: border-box;
    outline: none;
    @media screen and (max-width:485px) {
      width: 320px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -12px;
      bottom: -4px;
      width: 12px;
      height: 12px;
      margin: -6px 0 0;
      border-radius: 50%;
      transition: 0.3s;
      background-color: $bgdColor4;
    }
  }

  .textForm {
    margin: 0 10px;
    padding-top: 40px;
    width: 100%;
    border-bottom-color: $bgdColor4;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: double;
    border-bottom-width: thick;
    background-color: $bgdColor2;
    @include text($fontFamily1, 18px, $textColor1);
    outline: none;
    @media screen and (max-width:485px) {
      width: 320px;
    }
  }
}

.btn {
  margin: 30px 0px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1;
  @include text($fontFamily1, 18px, $textColor1);
  border: 4px double $bgdColor3;
  border-radius: 40px;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 35px;
  background: none;
  text-transform: uppercase;
  transition: 0.3s;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    background-color: $bgdColor3;
  }
}

.section1 {
  height:$heightSection;
  background: linear-gradient(to bottom left, transparent, transparent 50%, $bgdColor1 50%, $bgdColor1);
}









