@import "src/common/styles/variables";
@import "src/common/styles/mixins";
.nav {
  width: 360px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 882px){
    display: flex;

  }

  .item {
    @include text($fontFamily1,18px,$bgdColor1);
    font-weight: bold;
    text-decoration: none;
  }
}