$textColor1: #fff;
$textColor2: #000;
$textColor3: #d56d71;

$bgdColor1: #ebe5d9;
$bgdColor2: #1c0e0e;
$bgdColor3: #d56d71;
$bgdColor4: #fff;
$bgdColor5: #000;

$fontFamily1:"Roboto Mono", monospace;
$fontFamily2:"Train One", cursive;
$fontFamily3:"Nothing You Could Do", cursive;

$heightSection:50vh;