@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.skillsBlock {
    min-height: 100vh;
    background-color: $bgdColor1;

    .skillsContainer {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        .title {
            margin: 0 0 30px;
            @include text($fontFamily2,36px,#000);
            letter-spacing: 10px;
        }
        .separator{
            position: relative;
            width: 12px;
            height: 12px;
            margin: 0px auto;
            border-radius: 50%;
            background:$bgdColor5;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                width: 70px;
                height: 2px;
                margin: 4px 0 0 -35px;
                border: 1px solid;
                border-left: none;
                border-right: none;
            }
        }
        .skills {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width: 649px){
                justify-content: center;
            }
        }
    }
    .section{
        height: 150px;
        background: linear-gradient(to bottom right, transparent, transparent 50%, $bgdColor4 50%, $bgdColor4);
    }
}



