.mainBlock {
    min-height: 100vh;
    background-color: #e399e3;
}

.intro {
    width: 300px;
    background-color: wheat;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: wheat;
}