@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.footerBlock {
  background-color: $bgdColor1;

  .footerContainer {
    @include container();
    @include flex(column,flex-start,center,wrap);
  }

  .title {
    margin: 0 0 20px;
    @include text($fontFamily3, 18px, #000);
  }

  .socialContainer {
    width: 290px;
    padding: 10px 0;
    @include flex(row,space-around,center,wrap);
  }

  .social img {
    margin: 2px;
    height: 36px;
    width: 36px;
    border-radius: 20px;

    &:hover {
      height: 40px;
      width: 40px;
      cursor: pointer;
    }
  }
}