.footerBlock {
    min-height: 100vh;
    background-color: #656aa4;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: burlywood;
}

.socialContainer {
    width: 290px;
    display: flex;
    justify-content: center;
    border: 1px solid;

}

.social {
    margin: 2px;
    border: 1px solid;
    background-color: #e399e3;
    height: 40px;
    width: 40px;
}